<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="..">My business opportunities</a></li>
    <li>...</li>
  </ul>
  <h1>Business opportunity wizard</h1>
</header>
<section class="page-content" *ngIf="service.activeStep$ | async as activeStep">
  <ul class="steps" role="tablist">
    <li *ngFor="let step of service.steps$ | async" role="tab" [class.pending]="step.isPending" [ngClass]="step.status"
      [class.active]="step === activeStep">
      <a routerLink="." [fragment]="step.code">
        <mat-icon>{{step.icon}}</mat-icon>
        <h3>{{step.name}}</h3>
      </a>
    </li>
  </ul>
  <form [formGroup]="applicationForm">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>{{activeStep.icon}}</mat-icon>
        <h2 mat-card-title>{{activeStep.name}}</h2>

        <div class="status-text" [ngSwitch]="service.autosaveStatus$ | async">
          <span *ngSwitchCase="'saved'">
            <mat-icon inline>cloud_done</mat-icon>
            Draft saved {{service.autosaveTs$ | async | timeAgo}}
          </span>
          <span *ngSwitchCase="'saving'">
            <mat-icon inline>cloud_queue</mat-icon>
            Saving draft...
          </span>
          <span *ngSwitchCase="'error'" class="rejected-message">
            <mat-icon inline>warning</mat-icon>
            Error saving draft
          </span>
        </div>
      </mat-card-header>

      <mat-card-content class="step-content" [class.active]="activeStep.code === 'business'">
        <app-category-select formControlName="field"></app-category-select>
      </mat-card-content>

      <mat-card-content class="step-content" [class.active]="activeStep.code === 'general'">
        <mat-form-field class="param-row">
          <mat-label>Request description or project idea</mat-label>
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"
            formControlName="description" #description maxlength="2000" required></textarea>
          <mat-hint>Please describe your request or project idea in free text</mat-hint>
          <mat-hint align="end">{{description.value?.length}}/2000</mat-hint>
        </mat-form-field>

        <h3 class="subtitle">
          <mat-icon inline>location_on</mat-icon> Target location
        </h3>
        <div class="param-row">
          <app-location-input formControlName="location"></app-location-input>
        </div>
      </mat-card-content>

      <mat-card-content class="step-content" [class.active]="activeStep.code === 'details'" formGroupName="details">
        <ng-container *ngFor="let item of service.detailItems$ | async" [ngSwitch]="item.type">
          <div class="param-row details">
            <mat-form-field *ngSwitchCase="'text'">
              <mat-label>{{item.name}}</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
                [formControlName]="item.code" #text maxlength="2000"></textarea>
              <mat-hint [matTooltip]="item.hintEx" matTooltipClass="tooltip-large" matTooltipPosition="after">
                {{item.hint}}
                <mat-icon color="accent" *ngIf="item.hintEx">help_outline</mat-icon>
              </mat-hint>
              <mat-hint align="end">{{text.value?.length}}/2000</mat-hint>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'number'" class="small">
              <mat-label>{{item.name}}</mat-label>
              <input matInput type="number" [formControlName]="item.code">
              <span matSuffix [innerHtml]="item.units"></span>
              <mat-hint>{{item.hint}}</mat-hint>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'shortText'" class="small">
              <mat-label>{{item.name}}</mat-label>
              <input matInput type="text" [formControlName]="item.code">
              <mat-hint [innerHtml]="item.hint"></mat-hint>
            </mat-form-field>
            <ng-container *ngSwitchCase="'dropdown'">
              <mat-form-field *ngIf="!item.editable" class="small">
                <mat-label>{{item.name}}</mat-label>
                <mat-select [formControlName]="item.code">
                  <mat-option *ngFor="let opt of item.options" [value]="opt">{{opt}}</mat-option>
                </mat-select>
                <mat-hint>{{item.hint}}</mat-hint>
              </mat-form-field>

              <mat-form-field *ngIf="item.editable" class="small">
                <mat-label>{{item.name}}</mat-label>
                <input matInput type="text" [formControlName]="item.code" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let opt of item.options" [value]="opt">
                    {{opt}}
                  </mat-option>
                  <mat-option>Other (please specify)</mat-option>
                </mat-autocomplete>
                <mat-hint>{{item.hint}}</mat-hint>
              </mat-form-field>
            </ng-container>
          </div>
        </ng-container>
      </mat-card-content>

      <mat-card-content class="step-content" [class.active]="activeStep.code === 'attachments'">
        <app-attachment-list formControlName="attachments"></app-attachment-list>
        <p class="addinf">Additional files can be uploaded to provide additional information about the business
          opportunity. Some examples include: specifications, calculations, pictures etc.<br>
          Attachments shall be uploaded in English.<br>
          Uploaded files can be documents (e.g. .pdf) or images (e.g. .png), there is a limit of <strong>5
            files</strong> with size up to <strong>5MB per file</strong>.</p>
      </mat-card-content>

      <mat-card-content class="step-content" [class.active]="activeStep.code === 'contacts'">
        <button class="param-row" mat-stroked-button color="accent" type="button" (click)="selectCompany(companyDialog)">
          <mat-icon>domain_add</mat-icon>
          Use registered company
        </button>

        <ng-template #companyDialog>
          <h2 mat-dialog-title>Select registered company</h2>
          <div mat-dialog-content>
            <mat-action-list>                            
              <button class="company__item" mat-list-item *ngFor="let one of companies$ | async" [mat-dialog-close]="one">
                <div class="company__avatar">
                  <app-image-avatar [title]="one.companyName" [imageUrl]="one.imageUrl" text=" "></app-image-avatar>                
                </div>
                {{one.companyName}}
              </button>
              <p class="company__empty">No companies found!</p>
            </mat-action-list>      
          </div>
        </ng-template>

        <mat-form-field class="param-row">
          <mat-label>Organization / Company</mat-label>
          <input matInput formControlName="companyName">
          <mat-hint>Name of represented organization or company</mat-hint>
        </mat-form-field>


        <mat-form-field class="param-row">
          <mat-label>Website</mat-label>
          <input matInput type="url" formControlName="webPage" placeholder="http://" pattern="^https?:\/\/[\w.-]+[^\s]*"
            maxlength="250">
          <mat-error *ngIf="applicationForm.get('webPage').errors?.pattern">Please enter a valid url
          </mat-error>
        </mat-form-field>

        <div class="param-row">
          <app-location-input formControlName="contactLocation"></app-location-input>
        </div>

        <div class="param-row">
          <app-contact-list formControlName="contacts" required="true"></app-contact-list>
        </div>

        <p class="addinf">Provided contact information will be visible for all platform users. Read more about privacy
          <a routerLink="/privacy" target="_blank">here</a>.
        </p>
      </mat-card-content>

      <mat-card-content class="step-content" [class.active]="activeStep.code === 'publishing'">
        <mat-form-field class="small param-row">
          <mat-label>Due date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="minDate" [max]="maxDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Publish business opportunity until this date</mat-hint>
        </mat-form-field>


        <p class="application-status param-row" *ngIf="service.isPublic$ | async">
          Previous version of this business opportunity <strong>has been published</strong>. 
          However, you can make changes in this draft and submit new version for the publishing.
        </p>

        <p class="application-status param-row" *ngIf="service.isPendingReview$ | async">
          Current version of this business opportunity is <strong>pending review</strong> before publishing.
        </p>

        <div *ngIf="service.rejectReason$ | async as reason" class="rejected-message param-row">
          <mat-icon>report</mat-icon>
          <p>This business opportunity previously has been rejected by the Administrator with the reason:
            <br>
            <em>{{reason}}</em>.
          </p>

          <p>Please, fix mentioned shortcommings and re-submit the business opportunity again.</p>
        </div>

        <ng-container *ngIf="service.invalidSteps$ | async as errors">
          <div class="validation-errors param-row" *ngIf="errors.length > 0">
            <p>
              Required information is missing in following sections:
            </p>
            <ul>
              <li *ngFor="let err of errors">
                <a routerLink="." [fragment]="err.code">{{err.name}}</a>
              </li>
            </ul>
          </div>
        </ng-container>

        <h3>
          <mat-checkbox [(ngModel)]="readyForPublishing" [ngModelOptions]="{standalone: true}" color="primary"
            class="consent" [disabled]="!applicationForm.valid">
            The specified information is <strong>correct and can be published</strong> in Biogas and Gasification Matchmaking Platform.
          </mat-checkbox>
        </h3>

        <p>This means that all provided information (including contact information) will be visible for any
          platform user.</p>

        <p>Before publishing, the business opportunity is <strong>reviewed by the platform administrators</strong>. You
          will recieve a notification when it will be published.</p>

      </mat-card-content>
    </mat-card>

    <footer>
      <button mat-stroked-button type="button" color="accent" *ngIf="!activeStep.isFirst" (click)="back()">
        <mat-icon>navigate_before</mat-icon> Go back
      </button>
      <button mat-stroked-button type="button" color="accent" *ngIf="activeStep.isFirst" routerLink="..">
        <mat-icon>cancel</mat-icon> Exit wizard
      </button>

      <button mat-raised-button type="button" color="primary" class="right" *ngIf="!activeStep.isLast" (click)="next()">
        Continue
        <mat-icon>navigate_next</mat-icon>
      </button>

      <button mat-raised-button type="button" color="primary" class="right" *ngIf="activeStep.isLast"
        [disabled]="applicationForm.invalid || !readyForPublishing" (click)="publish()">
        <mat-icon>check_circle</mat-icon> Submit for publishing
      </button>      
    </footer>
  </form>
</section>