<header class="page-header">
    <ul class="breadcrumbs">
        <li><a routerLink="">Home</a></li>
        <li>FAQ</li>
    </ul>
    <h1>Frequently Asked Questions</h1>
</header>
<section class="page-content">

    <p>
        Please take a look on frequently asked questions about the Biogas and Gasification Matchmaking Platform. If you
        are not able to
        find an
        answer to your question please read the basic platform <a
            href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/DiBiCoo%20platform%20user%20manual.pdf"
            target="_blank">user manual</a>.
    </p>

    <h2>Introduction questions</h2>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    What is DiBiCoo?

                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>DiBiCoo is a cooperation project between biogas technology exporting and importing countries, with the
                overall objective to support the European biogas/biomethane industry by preparing markets for the import
                of sustainable biogas/biomethane technologies from Europe to developing and emerging countries. DiBiCOo
                project has received funding from the European Union’s Horizon 2020 research and innovation programme
                under grant agreement No. 857804. To read more about the DiBiCoo project visit project <a
                    href="https://dibicoo.org/" target="_blank"> homepage</a>.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    What is the Biogas and Gasification Matchmaking Platform?

                </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Biogas and Gasification Matchmaking Platform is an online tool which acts as a database of
                biogas/gasification
                related stakeholders with an additional feature for matchmaking and business opportunities publishing.
            </p>
        </mat-expansion-panel>

        <h2>General questions</h2>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How can I join the Biogas and Gasification Matchmaking Platform?

                </mat-panel-title>

            </mat-expansion-panel-header>
            <p>You can join the platform using the Sign Up option in the the right hand upper corner of the platform. To
                do it, you can use
                the existing google account or provide any e-mail address. Authorisation for the platform is granted
                by the external Auth0 service.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    What are the benefits for the registered users in the Biogas and Gasification Matchmaking Platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Any user can browse the content of the platform, but only the registered users can create their company
                profiles, post business opportunities, receive personal matchmaking suggestions and many more advantages
                to come in the future.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How can I use the matchmaking feature of the Biogas and Gasification Matchmaking Platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>For now, the matchmaking option can be used by platform users to search for possible matching company
                profiles. It is possible to filter all company profiles by several parameters, like country, business
                field, relevant projects, etc. In the near future it will be possible to save the defined matchmaking
                template and platform will automatically inform the user when a new matching candidate has emerged.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Which additional features will be implemented to the Biogas and Gasification Matchmaking Platform in
                    the future?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>The Biogas and Gasification Matchmaking Platform is being constantly updated based on stakeholders and
                platform user feedbacks
                and suggestions. We are actively working to make the platform attractive and
                functional, to satisfy most of users' needs. You can have a look at already implemented features
                and on upcoming updates on the <a routerLink="/development" target="_blank">development roadmap
                    page</a>.
            </p>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How can I suggest some improvements for the Biogas and Gasification Matchmaking Platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>There are several ways how to help us to make the platform better. You can participate in the
                Biogas and Gasification Matchmaking Platform evaluation by filling the <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfzwMA99cBBHpYuDhF8GM3hmKMVzc1rNRolhSOjgb3NrWWTrQ/viewform"
                    target="_blank">survey form </a> or
                you can contact the developers by the <a routerLink="/contact-us" target="_blank">e-mail</a>
                or you can post a short message to the platform administrators directly in the platform (this feature is
                coming soon).
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Are the services provided by the Biogas and Gasification Matchmaking Platform free of charge?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Yes. During the DiBiCoo project all services provided in the platform are free of charge. After
                the project end (30.06.2022), then German Biogas Association – Fachverband Biogas e.V. (FVB) will take
                the
                lead of hosting and supporting the platform. At the moment it is not planned to have the paid version
                of the platform.
            </p>
        </mat-expansion-panel>

        <h2>Company profiles</h2>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How can I create my company profile?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>The company profile creation feature is available only for the authenticated users. When you are logged
                in to the platform, go to the “My companies” section and click the “+ Add company” button. You will be
                guided through the Company profile creation wizard.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Is the company profile published instantly after I have created it?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>
                No, the administrators of the Biogas and Gasification Matchmaking platform will check the new company
                profile initially
                and then publish it on the platform.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How I will know that my Company profile is published on the platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>You will get an internal platform notification informing You about the Company publishing event.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Can I delete my Company profile?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Yes, for sure. You can unpublish or delete Your Company profile at any time. Just remember, if you will
                want to publish it once again later, the review by the administrators will be done once again.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Can I share the editing option of the company profile with another person?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Yes, it is possible through the company profile sharing feature. You can invite any other person to join
                the company profile manager list.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Does any company have an opportunity to create a profile on the Biogas and Gasification Matchmaking
                    Platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Yes, there are no limitations for the company profile creation process, but the company should be related
                to at least one of the provided categories within the platform. </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How many company profiles can be found in the Biogas and Gasification Matchmaking Platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Biogas and Gasification Matchmaking Platform is just launched, but already now there are more than 100
                company profiles
                available.
                This number will be constantly growing in the future, after public dissemination events. </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What does the "Report" button do?</mat-panel-title>
            </mat-expansion-panel-header>

            <p>You can send a report about the company profile if you think that some information is incorrect. This
                report will be reviewed by the platform's administrators and if needed company profile manager will be
                contacted.</p>
        </mat-expansion-panel>

        <h2>Business opportunities</h2>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How can I create my business opportunity?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>The business opportunity creation feature is available only for the authenticated users. When you are
                logged
                in to the platform, go to the "My business opportunities" section and click the "+ Add business
                opportunity" button. You
                will be guided through the Business opportunity creation wizard.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Is my business opportunity published instantly after I have created it?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>No, the administrators of the Biogas and Gasification Matchmaking platform will check the new business
                opportunity initially
                and then publish it on the platform.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    How the potential partners will contact me if they are interested in my business opportunity or in
                    my company?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Users can use the contact information provided in the company profile or in the business opportunity to
                reach the target
                partner.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What does the "Report" button do?</mat-panel-title>
            </mat-expansion-panel-header>

            <p>You can send a report about the business opportunity if you think that some information is incorrect.
                This report will be reviewed by the platform's administrators and if needed business opportunity owner
                will be contacted.</p>
        </mat-expansion-panel>

        <h2>Third party services</h2>
        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    Why the Google Map Api is used in the platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Biogas and Gasification Matchmaking Platform uses external Google Map Api to show the company profiles on
                the global map
                with the main aim to visualise the geographical diversity of the published company profiles.
                It is not mandatory for the company profile to be shown on the map.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>

                <mat-panel-title>

                    What purpose is the Google Analytics service used for on the platform?

                </mat-panel-title>

            </mat-expansion-panel-header>

            <p>Biogas and Gasification Matchmaking Platform uses external Google Analytics service to collect anonymous
                statistics on
                the user activity in the platform. The statistics is also shown to registered users to track their
                company
                profiles and business opportunities. </p>
        </mat-expansion-panel>

    </mat-accordion>