<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>Contact us</li>
  </ul>
  <h1>Contact us</h1>
</header>
<section class="page-content">
  <p>
    Our team is happy to communicate with your. If you have any questions, suggestions or just need a help in relation
    to the platform, please, send
    us an e-mail to:
  </p>
  <ul>
    <li>
      <a href="mailto:vitalijs.komasilovs@llu.lv?subject=DiBiCoo feedback"
        target="_blank">vitalijs.komasilovs@llu.lv</a>
    </li>
    <li>
      <a href="mailto:aleksejs.zacepins@llu.lv?subject=DiBiCoo feedback" target="_blank">aleksejs.zacepins@llu.lv</a>
    </li>
  </ul>
</section>
