<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>Contact us</li>
  </ul>
  <h1>Contact us</h1>
</header>
<section class="page-content">
  <p>
    Our team is happy to communicate with your. If you have any questions, suggestions or just need a help in relation
    to the platform, please, send
    us an e-mail to:
  </p>
  <ul>
    <li>
      <a href="mailto:international@biogas.org?subject=biogasplatform.eu: feedback"
        target="_blank">international@biogas.org</a>
    </li>
  </ul>
</section>
