<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>Factsheets</li>
  </ul>
  <h1>Factsheets</h1>
</header>
<section class="page-content literature-list">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Feedstocks</mat-card-title>
      <mat-card-subtitle>Receipt, storage, pretreatment and handling</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2002%20Feedstock_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2002%20Feedstock.png"
      alt="Feedstocks, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2002%20Feedstock_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Digester</mat-card-title>
      <mat-card-subtitle>Biological process, process conditions, hydraulic flow</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2003%20Digester_NEW.pdf">
    <img mat-card-image 
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2003%20Digester.png"
      alt="Digester, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2003%20Digester_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Pumps, Pipes, Valves</mat-card-title>
      <mat-card-subtitle>Transportation of liquids and digestate</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2004%20Pumps%20pipes%20valves_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2004%20Pumps%20pipes%20valves.png"
      alt="Pumps, Pipes, Valves, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2004%20Pumps%20pipes%20valves_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Blowers, Pipes, Valves</mat-card-title>
      <mat-card-subtitle>Gas flow and transportation of biogas</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2005%20Blowers%20pipes%20valves_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2005%20Blowers%20pipes%20valves.png"
      alt="Blowers, Pipes, Valves, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2005%20Blowers%20pipes%20valves_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Safety Equipment</mat-card-title>
      <mat-card-subtitle>Measurement and personal safety equipment</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2006%20Safety%20Equipment_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2006%20Safety%20Equipment.png"
      alt="Safety Equipment, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2006%20Safety%20Equipment_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Digestate</mat-card-title>
      <mat-card-subtitle>Properties, benefits, storage and use</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2008%20Digestate%20Storage%20and%20Use_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2008%20Digestate%20Storage%20and%20Use.png"
      alt="Digestate, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2008%20Digestate%20Storage%20and%20Use_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Biogas Storage</mat-card-title>
      <mat-card-subtitle>Overview of biogas membrane storage systems</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2009%20Biogas%20Storage_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2009%20Biogas%20Storage.png"
      alt="Biogas Storage, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2009%20Biogas%20Storage_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Application of Biogas</mat-card-title>
      <mat-card-subtitle>Treatment, Combination and Upgrading</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2010%20Application%20of%20Biogas_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2010%20Application%20of%20Biogas.png"
      alt="Application of Biogas, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2010%20Application%20of%20Biogas_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Special Case</mat-card-title>
      <mat-card-subtitle>Small-scale home digester</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2011%20Special%20Case%20Small-Scale%20Home%20Digester_NEW.pdf">
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2011%20Special%20Case%20Small-Scale%20Home%20Digester.png"
      alt="Special Case, thumbnail"></a>
    <mat-card-actions>
      <a mat-button target="_blank"
        href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/factsheets/DiBiCoo%20D.2.2%20Factsheet%2011%20Special%20Case%20Small-Scale%20Home%20Digester_NEW.pdf">
        <mat-icon>description</mat-icon> View PDF
      </a>
    </mat-card-actions>
  </mat-card>




</section>