<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>Links and Videos</li>
  </ul>
  <h1>Links and Videos</h1>
</header>
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>I. Biogas links</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="page-content literature-list">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Feedstock atlas</mat-card-title>
          <mat-card-subtitle>Association for Technology and Structures in Agriculture e.V. (KTBL)</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://daten.ktbl.de/euagrobiogasbasis/startSeite.do">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Feedstock-atlas.png"
            alt="Feedstock atlas, cover"></a>

        <mat-card-content>
          In this Basic Version of the Online European Feedstock Atlas 1 888 data sets on 225 different feedstocks are
          available. Feedstock categories included are energy crops, livestock manures and residues. The database
          reflects
          the existing variety of available feedstock in Europe and contains data on biogas and methane yield.
        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://daten.ktbl.de/euagrobiogasbasis/startSeite.do">
            <mat-icon>description</mat-icon> View source
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Biogas plant calculator for plant dimensioning, costs and economics</mat-card-title>
          <mat-card-subtitle>Available only in German</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://daten.ktbl.de/euagrobiogasbasis/startSeite.do">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Biogas-plant-calculator.png"
            alt="Biogas plant calculator for plant dimensioning, costs and economics, cover"></a>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://daten.ktbl.de/euagrobiogasbasis/startSeite.do">
            <mat-icon>description</mat-icon> View source
          </a>
        </mat-card-actions>
      </mat-card>


      <mat-card>
        <mat-card-header>
          <mat-card-title>Energypedia</mat-card-title>
          <mat-card-subtitle>energypedia UG (haftungsbeschränkt)</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://energypedia.info/wiki/Portal:Biogas">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Energypedia.png"
            alt="Energypedia, cover"></a>

        <mat-card-content>
          General information about energy, including biogas.The biogas portal provides an overview on biogas related
          information on energypedia.
        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://energypedia.info/wiki/Portal:Biogas">
            <mat-icon>description</mat-icon> View source
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Biogas handbook, technical brochures, country reports about biogas</mat-card-title>
          <mat-card-subtitle>International Energy Agency</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="http://task37.ieabioenergy.com/about-task-37.html">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Biogas-handbook.png"
            alt="Biogas handbook, technical brochures, country reports about biogas, cover"></a>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="http://task37.ieabioenergy.com/about-task-37.html">
            <mat-icon>description</mat-icon> View source
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>II. Biogas videos</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="page-content literature-list">

      <mat-card>
        <mat-card-header>
          <mat-card-title>DiBiCoo - YouTube channel</mat-card-title>
          <mat-card-subtitle>DiBiCoo</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://www.youtube.com/channel/UCnSgj-_wD0cAnmgFc097L0Q/videos">
          <img mat-card-image style="max-height: 10rem;" src="assets/dibicoo-logo.svg"
            alt="DiBiCoo - YouTube channels"></a>

        <mat-card-content>

        </mat-card-content>

        <mat-card-actions>
          <a mat-button target="_blank" href="https://www.youtube.com/channel/UCnSgj-_wD0cAnmgFc097L0Q/videos">
            <mat-icon>description</mat-icon> View videos
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Domestic biogas</mat-card-title>
          <mat-card-subtitle>greentec service GmbH</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="http://www.homethan-biogas.com/">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/domestic-biogas.png"
            alt="Domestic biogas, cover"></a>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="http://www.homethan-biogas.com/">
            <mat-icon>description</mat-icon> View source
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Biogas done right</mat-card-title>
          <mat-card-subtitle>CIB, 2015</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://www.youtube.com/watch?v=Gm-TaIwi82M">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Biogas-done-right.png"
            alt="Biogas done right, cover"></a>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://www.youtube.com/watch?v=Gm-TaIwi82M">
            <mat-icon>description</mat-icon> View video
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Biogas done right, part 2</mat-card-title>
          <mat-card-subtitle>CIB, 2019</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://www.facebook.com/watch/?v=387147415542541">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Biogas-done-right-2.png"
            alt="Biogas done right, part 2, cover"></a>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://www.facebook.com/watch/?v=387147415542541">
            <mat-icon>description</mat-icon> View video
          </a>
        </mat-card-actions>
      </mat-card>


      <mat-card>
        <mat-card-header>
          <mat-card-title>Biogas channel</mat-card-title>
          <mat-card-subtitle>CIB</mat-card-subtitle>
        </mat-card-header>
        <a target="_blank" href="https://www.biogaschannel.com/en/">
          <img mat-card-image
            src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/literature/Biogas-channel.png"
            alt="Biogas channel, cover"></a>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://www.biogaschannel.com/en/">
            <mat-icon>description</mat-icon> View source
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>