<header class="page-header">
    <ul class="breadcrumbs">
        <li><a routerLink="">Home</a></li>
        <li>FGP</li>
    </ul>
    <h1>Fair Guiding Principles Catalogue</h1>
</header>
<section class="page-content">

    <h2>Introduction</h2>
    <p>The aim and concept of <b>fair guiding principles</b> (FGP) for steering, registering, and communicating within
        the
        <b>Biogas and Gasification Matchmaking Platform</b> (BMP) as an open access online tool, are described in the following
        paragraphs. The FGPs provide a framework and defined quality aspects in order to ensure equal user benefits,
        non-discriminating accessibility and visibility, as well as a long-term, positive user experience during and
        beyond the DiBiCoo project duration. The development and operation of the digital online matchmaking system has
        and will treat all participants equally, with the aim of excluding unfair advantages or disadvantages for a few
        users, both private persons and organisations. The FGPs therefore grant an open access matchmaking environment
        for all interested users worldwide, developed and based on user-centred design principles in close collaboration
        with end users and stakeholders to continuously test and evaluate the tool as transparent and user-friendly as
        possible.
    </p>

    <h2>Fair Guiding Principles</h2>
    <ol type="i">
        <li>The platform provides <b>equal rights and benefits to all users</b> of the online matchmaking tool</li>
        <li>Every user has the <b>same, non-discriminatory accessibility</b> to the online platform worldwide</li>
        <li>Every user has the <b>non-discriminatory visibility</b> at the online platform worldwide</li>
        <li><b>Regulations and measures to prevent fraud, spam</b> or any other form of misuse</li>
    </ol>

    <p>The <b>FGPs</b> apply to all platform intentions and functions described, and affects the actions of both hosts
        (<a href="http://www.itf.llu.lv/en" target="_blank">Latvia
            University of Life Sciences and Technologies</a>, German Biogas Association <a
            href="https://www.biogas.org/edcom/webfvb.nsf/id/de_homepage" target="_blank">Fachverband Biogas e.V.</a>)
        as well as
        platform users. By using the platform, the participants commit themselves to respect the intended use of the
        online tool for fair business initiation and the fair platform principles, i.e. equal user rights and benefits,
        equal accessibility and non-discriminatory visibility, as well as not to abuse it for any other or unintended
        purposes. Any misuse and conflicting user behaviour, monitored by the platform community, may result in the
        exclusion from the platform, ensuring a fair and friendly user experience. The development and operation of the
        platform as well as related processes are aligned with general data protection laws and regulations such as the
        European GDPR (general data protection regulation) as described in the BMP’s <a
            routerLink="/privacy" target="_blank">privacy statement</a>. </p>

    <p>
        The Biogas and Gasification Matchmaking Platform operators will take the protection of registration information serious, and
        will take care of the pro forma validation of data, checking uploaded content, and the deletion of spam, in
        compliance with the FGPs. BMP users are part of the monitoring process by having the ability to report any
        misuse of the platform and give user feedback contacting the developers team (<a
            routerLink="/contact-us" target="_blank">contact us</a>), or can use the
        integrated <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfzwMA99cBBHpYuDhF8GM3hmKMVzc1rNRolhSOjgb3NrWWTrQ/viewform"
            target="_blank">user survey</a>. It is important for the platform providers that its users are informed at
        any time when
        and what registration information is stored and how it is used. Please read the <a
            routerLink="/privacy" target="_blank">privacy statement</a> for more
        information on how personal privacy data and information is handled and protected.

    </p>
    <p>
        <b>Legacy of the Biogas and Gasification Matchmaking Platform:</b> After the end of the project duration (30.09.2022), 
        Biogas and Gasification Matchmaking Platform will continue to be operated by the German Biogas Association ( <a
            href="https://www.biogas.org/edcom/webfvb.nsf/id/de_homepage" target="_blank">Fachverband Biogas e.V.</a>)
        in the same way, maintaining the user-centred design and user-friendly experience regulated in the FGPs. Further
        contact information is provided in the <a routerLink="/imprint" target="_blank">imprint</a>
        section of the BMP.
    </p>

    <h3>(i) Equal User Benefits and Rights</h3>
    <p>All users accept that registration information is used to create a user profile on
        the BMP online platform. The information is solely used for that purpose and will be deleted immediately upon
        user request by contacting the BMP <a routerLink="/contact-us"
            target="_blank">administrators</a>. Users can always change their mind and retreat from being displayed as
        participant of the BMP at
        any time without giving reasons by deleting their content in the BMP. </p>
    <p>
        There are no algorithms built in that would favour certain users or regions, unless the user wishes to filter
        for certain regions as part of the search function for example – offers and contacts can be made from any
        country and by any technology provider to all users of the platform. In terms of content, the platform is hosted
        by an organisation, but the moderator has no influence on matchings or business initiation processes.
    </p>

    <h3>(ii) Non-discrimination and Accessibility</h3>
    <p>
        Equal and international access to the BMP is guaranteed worldwide, independent from IP address or localisation.
        The BMP does not discriminate against any person on the basis of race, creed/religion, color, national or ethnic
        origin, sex, gender identity or expression, sexual orientation, disability, marital status, or age, in admission
        to its platform functions, or participation in its matchmaking activities, and provides equal access to all its
        services.
        To further enhance the fairness and transparency of the online platform, the access to the matchmaking service
        is equally provided free of charge, independent from the users location etc. Participant profiles will be
        prompted equally to grant the effective and immediate access to public details provided or generated in the
        context of their use within the BMP, such as complete company profiles including texts and pictures made
        available by the repsective user.

    </p>

    <h3>(iii) Non-discrimination and Visibility</h3>
    <p>
        In order to guarantee equal visibility, the same quantity and quality of provided information for company
        profiles or business opportunities are requested by the BMP. Within the platform we provide the same
        possibilities to every user. Thus, each user is responsible for their own individual appearance on the online
        platform, not the providers. Therefore, mandatory and optional information is requested to assure equal
        conditions.
        Furthermore, the uniform presentation and visibility of all platform participants is ensured by approving the
        publication of each individual content (texts, pictures, documents) on the BMP. Internal reviewing processes
        and evaluations will help to improve the matchmaking platform service. Users can evaluate and assess the
        usefulness of the platform and the effectiveness of the overall matchmaking experience, as an internal quality
        control mechanism – authenticity and accuracy of the information provided will also be cross-checked by the
        platform providers on a regular base. Users can leave their feedback in the online survey section at any time.
    </p>

    <h3>(iv) Prevention of misuse</h3>
    <p>
        The BMP service providers will prevent unfair behaviour vis-à-vis any company or private participants
        by following the validation and reporting process described in the <a
            href="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/DiBiCoo%20platform%20user%20manual.pdf"
            target="_blank">user manual</a>. While avoiding a lack of
        intervention, mechanisms and the development of practices on the basis of constant user feedback to prevent
        misuse, will enforce the FGP compliances, while avoiding over-regulation at the same time. Any regulatory
        measures taken by the platform providers are proportionate since their intended objective is solely addressing
        the digital matchmaking process in a targeted manner. Moreover, the fair and legal guidelines aim to safeguard
        an appropriate balance between the respective freedoms and restrictions of the use of the BMP services.
    </p>

    <p>
        The BMP actively informs and engages a wide range of stakeholders from the biogas related business sectors such
        as manufacturing, engineering, services, policy and financing to become part of this biogas technology platform.
        The platform may contain links to external websites, while the responsibility for the content and functionality
        lies with their respective publishers. Links to external sites will be checked for their suitability being
        posted on the BMP. However, the constant review of external sites cannot be expected without the concrete
        indication of a violation of rights. If the BMP providers become aware of any fraud or is notified by a third
        party that a linked external site gives rise to civil or criminal liability, it will remove the link to that
        particular website immediately. The BMP providers clearly distance themselves from any inadequate content.
    </p>
    <p>
        <b>Contact</b> for <b>FGP enquiries</b> throughout the entire DiBiCoo project duration until 30.09.2022 as well
        as additional
        platform related promotional work at the Austrian Energy Agency (AEA), Mariahilfer Strasse 136, 1150 Vienna,
        Austria, Dr. Stefan Weiss, <a href="mailto:stefan.weiss@energyagency.at"
            target="_blank">stefan.weiss@energyagency.at</a>, M. +43 (0)664 965 9250.
    </p>