<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>Privacy statement</li>
  </ul>
  <h1>Privacy statement</h1>
</header>
<section class="page-content">
  <p>We are delighted that you are visiting our website <a href="http://www.biogasplatform.eu" rel="noopener noreferrer"
      target="_blank">www.biogasplatform.eu</a> and are interested in our Biogas and Gasification Matchmaking Platform.
  </p>
  <p>We attach a great deal of importance to protecting your personal data.</p>
  <p>The purpose of this privacy policy is to inform you of how your personal data that we collect from you when you
    visit our website is processed. Our data protection practices comply with the legal regulations set out in the
    EU&rsquo;s General Data Protection Regulation (GDPR) and the German Federal Data Protection Act (BDSG). The
    following privacy policy serves to fulfil the duties to provide information arising from the GDPR. These can be
    found in the likes of Arts.&nbsp;13 and 14 et seq. of the GDPR.</p>
  <h2><a name="responsible-entity"></a> Controller</h2>
  <p>The controller according to Art.&nbsp;4&nbsp;(7) of the GDPR is the party that, alone or jointly with others,
    determines the purposes and means of personal data processing.</p>
  <p>With regard to our website, the controller is:</p>
  <p>Department of Computer Systems, Faculty of Information Technologies, Latvia University of Life Sciences and
    Technologies<br /> Liela iela 2<br /> 3001 Jelgava<br /> Latvia<br /> Email: <a
      href="mailto:vitalijs.komasilovs@llu.lv" rel="noopener noreferrer"
      target="_blank">vitalijs.komasilovs@llu.lv</a><br /> Tel.: +371 63 00 57 01</p>
  <h2>The data protection officer&rsquo;s contact details</h2>
  <p>We have appointed a data protection officer according to Art.&nbsp;37 of the GDPR. You can contact our data
    protection officer on the following contact details:</p>
  <p>Mirko Tasch<br /> ituso GmbH &ndash; Fraunhoferstrasse 9<br /> 85221 Dachau<br /> Germany<br /> Email: <a
      href="mailto:datenschutz@biogas.org" rel="noopener noreferrer" target="_blank">datenschutz@biogas.org</a></p>
  <h2>Providing the website and creating log files</h2>
  <p>Each time our website is accessed, our system automatically records data and information from the accessing
    device (e.g. computer, mobile phone, tablet, etc.).</p>
  <h4>What personal
    data is collected and to what extent is it processed?</h4>
  <p>(1) Information about the browser type and the version used;<br /> (2) The accessing device&rsquo;s operating
    system;<br /> (3) The host name of the accessing computer;<br /> (4) The accessing device&rsquo;s IP
    address;<br /> (5) The date and time of access;<br /> (6) Websites and resources (images, files, other page
    contents) that were accessed on our website;<br /> (7) Websites from which the user&rsquo;s system accessed our
    website (referrer tracking);<br /> (8) Message confirming whether access was successful;<br /> (9) The amount of
    data transferred</p>
  <p>This data is stored in our system&rsquo;s log files. This data is not stored together with personal data
    belonging to a specific user, so individual site visitors are not identified.</p>
  <h4>Legal basis for personal data processing
  </h4>
  <p>Art. 6&nbsp;(1)&nbsp;(f) of the GDPR (legitimate interest). Our legitimate interest is to guarantee achievement
    of the purpose outlined below.</p>
  <h4>Purpose of data processing</h4>
  <p>Temporary (automated) data storage is necessary for a visit to a website to proceed to enable delivery of the
    website. Personal data is also stored and processed to maintain our website&rsquo;s compatibility for all visitors
    where possible and to combat misuse and eliminate faults. To this end, it is necessary to log the accessing
    computer&rsquo;s technical data, so that we can respond to display errors, attacks on our IT systems and/or
    functionality errors on our website as early as possible. Additionally, we also use the data to optimise the
    website and to ensure the general security of our IT systems.</p>
  <h4>Duration of storage</h4>
  <p>The above technical data is deleted as soon as it is no longer needed to guarantee the website&rsquo;s
    compatibility for all visitors, but at the latest within three months of our website being accessed.</p>
  <h4>Opportunity for objection and erasure</h4>
  <p>You may object to processing at any time according to Art.&nbsp;21 of the GDPR and request that your data be
    erased according to Art.&nbsp;17 of the GDPR. You will find the rights that you are entitled to and information on
    how to assert them at the bottom of this privacy policy.</p>
  <h2>Special features of the website</h2>
  <p>Our website offers you a variety of functions which, when used by us, serve to collect, process and store
    personal data. We have provided an explanation of what happens to this data below:</p>
  <h3>Login section / registration</h3>
  <ul>
    <li>
      <h4>Extent of personal
        data processing and the personal data collected</h4>
      <p>The registration and login data you entered on our site or shared.</p>
    </li>
    <li>
      <h4>Legal basis for personal data
        processing</h4>
      <p>Art.&nbsp;6&nbsp;(1)&nbsp;(b) of the GDPR (implementation of (pre-)contractual measures)</p>
    </li>
    <li>
      <h4>Purpose of data processing</h4>
      <p>You can use a separate login section on our website. You must enter your login credentials (email address or
        username and password) in the appropriate form so we can check your authorisation to use the protected section
        or the protected documents. If required, we can send you your login credentials or the option to reset your
        password by email on request.</p>
    </li>
    <li>
      <h4>Duration of storage</h4>
      <p>The collected data is stored as long as you maintain a user account with us.</p>
    </li>
    <li>
      <h4>Opportunity for objection and erasure</h4>
      <p>You may object to processing at any time according to Art.&nbsp;21 of the GDPR and request that your data be
        erased according to Art.&nbsp;17 of the GDPR. You will find the rights that you are entitled to and
        information on how to assert them at the bottom of this privacy policy.</p>
    </li>
    <li>
      <h4>Need to provide personal data</h4>
      <p>Use of the login section on our website is contractually required for use of the protected section. Use of
        the content protected by the login section is not possible without entering personal data. If you would like
        to use our login section, you must fill in the fields marked as mandatory (username and password). You require
        a user account to enter data. Login is not possible if the data you have entered is incorrect. You cannot use
        the protected section if you enter the data incorrectly or not at all. However, the rest of the site is still
        usable without logging in.</p>
    </li>
  </ul>
  <h2>Statistical evaluation of visits to
    this website &ndash; web trackers</h2>
  <p>When this website or individual files on the website is / are accessed, we collect, process and store the
    following data: IP address, web page that the file was retrieved from, name of the file, the retrieval date and
    time, the data volume transferred and the retrieval success notification (&lsquo;web log&rsquo;). We only use this
    access data in a non-personalised form with a view to continuously improving our website and for statistical
    purposes. We also use the following web trackers to evaluate visits to our website:</p>
  <ul>
    <li>
      <h3><a name="tracker-112"></a> Google Tag Manager</h3>
      <ul>
        <li>
          <h4>What
            personal data is collected and to what extent is it processed?</h4>
          <p>We use the service provided by Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland
            (hereinafter referred to as &lsquo;Google Tag Manager&rsquo;), on our website. Google Tag Manager provides
            a technical platform so we can execute other web services and web tracking programs and manage them in a
            pooled manner using what are known as &lsquo;tags&rsquo;. In this regard, Google Tag Manager saves cookies
            on your computer and analyses your surfing behaviour if web tracking tools are executed using Google Tag
            Manager (&lsquo;tracking&rsquo;). This data sent by individual tags integrated in Google Tag Manager is
            merged, stored and processed by Google Tag Manager using a standardised user interface. All of the
            incorporated tags are listed separately in this privacy policy. You can find more detailed information
            about the data protection of the tools incorporated in Google Tag Manager in the relevant section of this
            privacy policy. In the context of using our website when the integration of Google Tag Manager tags is
            enabled, data (including your IP address and user activities in particular) is sent to Google Ireland
            Limited servers. With regard to the web services integrated using Google Tag Manager, the rules set out in
            the relevant section of this privacy policy shall apply. The tracking tools used in Google Tag Manager
            ensure, by means of anonymising the source code&rsquo;s IP address, that the IP address is anonymised by
            Google Tag Manager before transfer. In this regard, Google Tag Manager only enables anonymised collection
            of IP addresses (&lsquo;IP masking&rsquo;).</p>
        </li>
        <li>
          <h4>Legal basis for personal data
            processing</h4>
          <p>The legal basis for data processing is your consent with regard to the use of cookies and web tracking
            (consent by a clear affirmative act or conduct) in our information banner according to
            Art.&nbsp;6&nbsp;(1)&nbsp;(a) of the GDPR.</p>
        </li>
        <li>
          <h4>Purpose of data processing</h4>
          <p>Google will use the information acquired using Google Tag Manager on our behalf for the purpose of
            evaluating your visit to this website, compiling reports on website activities and providing us with other
            services relating to website and internet use.</p>
        </li>
        <li>
          <h4>Duration of storage</h4>
          <p>Google will store the data that is relevant to Google Tag Manager working for as long as is necessary to
            render the booked web service. Data is collected and stored in an anonymised format. If references to
            persons do exist, the data will be deleted immediately provided that it is not subject to any statutory
            retention requirements. In any case, erasure will take place once the retention requirement has expired.
          </p>
        </li>
        <li>
          <h4>Opportunity for objection and erasure</h4>
          <p>You can prevent personal data (particularly your IP address) from being collected by and disclosed to
            Google and Google&rsquo;s processing of this data by disabling the execution of script codes in your
            browser, by installing a script blocker in your browser or by enabling your browser&rsquo;s &lsquo;Do Not
            Track&rsquo; setting. Furthermore, you can prevent Google&rsquo;s collection and processing of the data
            generated by the Google cookie and related to your use of the website (including your IP address) by
            downloading and installing the browser plugin available at <a
              href="http://tools.google.com/dlpage/gaoptout?hl=de" rel="noopener noreferrer"
              target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en-GB</a>. You will find Google&rsquo;s
            security and privacy policy at <a href="https://policies.google.com/privacy" rel="noopener noreferrer"
              target="_blank">https://policies.google.com/privacy</a>.</p>
        </li>
      </ul>
    </li>
    <li>
      <h3><a name="tracker-418"></a> Google Analytics</h3>
      <ul>
        <li>
          <h4>Extent of personal data processing</h4>
          <p>We use the web tracking service provided by Google Ireland Limited, Gordon House, Barrow Street, Dublin
            4, Ireland (hereinafter referred to as &lsquo;Google Analytics&rsquo;), on our website. In the context of
            web tracking, Google Analytics uses cookies, which are stored on your computer and enable analysis of how
            you use our website and your surfing behaviour (&lsquo;tracking&rsquo;). We carry out this analysis based
            on the Google Analytics tracking service to continuously optimise our website and improve its
            availability. In the context of use of our website, data (such as your IP address and your user activities
            in particular) will be transferred to Google Ireland Limited servers. We conduct this analysis based on
            Google&rsquo;s tracking service so as to continuously improve our website and its availability. We also
            require web tracking for security reasons. Web tracking allows us to track whether third parties are
            attacking our website. The information provided by the web tracker allows us to take effective
            counter-measures and protect the personal data we process from these cyber attacks. Google will anonymise
            your IP address before transfer if you enable IP anonymisation within this website&rsquo;s Google
            Analytics tracking code. This website uses a Google Analytics tracking code expanded to include the
            gat._anonymizeIp(); operator so as to enable only anonymised collection of IP addresses (&lsquo;IP
            masking&rsquo;).</p>
        </li>
        <li>
          <h4>Legal basis for personal data
            processing</h4>
          <p>The legal basis for data processing is your consent with regard to the use of cookies and web tracking
            (consent by a clear affirmative act or conduct) in our information banner according to
            Art.&nbsp;6&nbsp;(1)&nbsp;(a) of the GDPR.</p>
        </li>
        <li>
          <h4>Purpose of data processing</h4>
          <p>Google will use this information on our behalf for the purpose of evaluating your visit to this website,
            compiling reports on website activities and providing us with other services relating to website and
            internet use. We also require web tracking for security reasons. Web tracking allows us to track whether
            third parties are attacking our website. The information provided by the web tracker allows us to take
            effective counter-measures and protect the personal data we process from these cyber attacks.</p>
        </li>
        <li>
          <h4>Duration of storage</h4>
          <p>Google will store the data that is relevant to the provision of web tracking for as long as is necessary
            to provide the booked web service. Data is collected and stored in an anonymised format. If references to
            persons do exist, the data will be deleted immediately provided that it is not subject to any statutory
            retention requirements. In any case, erasure will take place once the retention requirement has expired.
          </p>
        </li>
        <li>
          <h4>Opportunities for objection and erasure</h4>
          <p>You can prevent personal data (particularly your IP address) from being collected by and disclosed to
            Google and Google&rsquo;s processing of this data by disabling the execution of script codes in your
            browser or by enabling your browser&rsquo;s &lsquo;Do Not Track&rsquo; setting. Furthermore, you can
            prevent Google&rsquo;s collection and processing of the data generated by the Google cookie and related to
            your use of the website (including your IP address) by downloading and installing the browser plugin
            available at <a href="http://tools.google.com/dlpage/gaoptout?hl=de" rel="noopener noreferrer"
              target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en-GB</a>. You will find Google&rsquo;s
            security and privacy policy at <a href="https://policies.google.com/privacy?hl=de" rel="noopener noreferrer"
              target="_blank">https://policies.google.com/privacy?hl=en-GB</a>.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2>Integration of external web
    services and data processing outside the EU</h2>
  <p>We use active contents from external providers (&lsquo;web services&rsquo;) on our website. When you access our
    website, these external providers may receive personal information about your visit to our website. Data may be
    processed outside the EU in this regard. You can prevent this from happening by installing an appropriate browser
    plugin or by disabling the execution of scripts in your browser. This may lead to functional restrictions on
    websites you visit.</p>
  <p>We use the following external web services:</p>
  <ul>
    <li>
      <h3><a name="tracker-106"></a> Google Fonts</h3>
      <p>We use the Google Fonts service provided by Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043,
        USA, email: <a href="mailto:support-de@google.com" rel="noopener noreferrer"
          target="_blank">support-de@google.com</a>, website: <a href="http://www.google.com/" rel="noopener noreferrer"
          target="_blank">http: //www.google.com/</a>, on our website. Processing also takes
        place in a third country that is not covered by a European Commission adequacy decision. So the usual level of
        protection for the GDPR cannot be guaranteed for the transfer, since it cannot be ruled out that the likes of
        authorities can access the collected data in the third country.</p>
      <p>The legal basis for the personal data transfer is your consent according to Art.&nbsp;6&nbsp;(1)&nbsp;(a) of
        the GDPR or Art.&nbsp;9&nbsp;(2)&nbsp;(a) of the GDPR, which you have given on our website.</p>
      <p>The Google Fonts service is used to reload fonts on our site so we can display the site to you in an improved
        visual version.</p>
      <p>You can revoke your consent at any time. You will find more information about revoking your consent either
        with the consent itself or at the end of this privacy policy.</p>
      <p>You will find more information about how the transferred data is handled in the provider&rsquo;s privacy
        policy at <a href="https://policies.google.com/privacy" rel="noopener noreferrer"
          target="_blank">https://policies.google.com/privacy</a>.</p>
    </li>


    <li>
      <h3><a name="tracker-107"></a> Google Maps</h3>
      <ul>
        <li>
          <h4>What
            personal data is collected and to what extent is it processed?</h4>
          <p>We use the maps service provided by Google Ireland Limited, Gordon House, Barrow Street, Dublin 4,
            Ireland (hereinafter referred to as &lsquo;Google Maps&rsquo;), on our website. Google Maps is integrated
            on the website using the Google API to visualise location information and display it in the form of a map.
            Google Maps&rsquo; processing of the IP address is technically necessary to display the map. The rules set
            out in the relevant section of this privacy policy shall apply with regard to the other web services
            integrated using Google APIs.</p>
        </li>
        <li>
          <h4>Legal basis for personal data
            processing</h4>
          <p>Art. 6&nbsp;(1)&nbsp;(f) of the GDPR (legitimate interest). Our legitimate interest lies in being able to
            show you the usual presentation of location information online in a visualised form.</p>
        </li>
        <li>
          <h4>Purpose of data processing</h4>
          <p>Google will use the information acquired using Google Maps on our behalf to show you the map. Using
            Google Maps allows you to find us faster and more accurately compared to using a simple non-interactive
            map.</p>
        </li>
        <li>
          <h4>Duration of storage</h4>
          <p>Google will store the data that is relevant to Google Maps working for as long as is necessary to render
            the booked web service. Data is collected and stored in an anonymised format. If references to persons do
            exist, the data will be deleted immediately provided that it is not subject to any statutory retention
            requirements. In any case, erasure will take place once the retention requirement has expired.</p>
        </li>
        <li>
          <h4>Opportunity for objection and erasure</h4>
          <p>You can prevent personal data (particularly your IP address) from being collected by and disclosed to
            Google and Google&rsquo;s processing of this data by disabling the execution of script codes in your
            browser, by installing a script blocker in your browser or by enabling your browser&rsquo;s &lsquo;Do Not
            Track&rsquo; setting. You will find Google&rsquo;s security and privacy policy at <a
              href="https://policies.google.com/privacy" rel="noopener noreferrer"
              target="_blank">https://policies.google.com/privacy</a>.</p>
        </li>
        <li>
          <h4>Joint processing</h4>
          <p>We have concluded a joint processing agreement with Google with regard to Google Maps. For the content,
            please visit <a href="https://privacy.google.com/intl/de/businesses/mapscontrollerterms/"
              rel="noopener noreferrer" target="_blank">https://privacy.google.com/businesses/mapscontrollerterms/</a>.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <h3><a name="tracker-111"></a> Google APIs</h3>
      <p>We use the Google APIs service provided by Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043,
        USA, email: <a href="mailto:support-de@google.com" rel="noopener noreferrer"
          target="_blank">support-de@google.com</a>, website: <a href="http://www.google.com/" rel="noopener noreferrer"
          target="_blank">http://www.google.com/</a>, on our website. Processing also takes
        place in a third country that is not covered by a European Commission adequacy decision. So the usual level of
        protection for the GDPR cannot be guaranteed for the transfer, since it cannot be ruled out that the likes of
        authorities can access the collected data in the third country.</p>
      <p>The legal basis for the personal data transfer is your consent according to Art.&nbsp;6&nbsp;(1)&nbsp;(a) of
        the GDPR or Art.&nbsp;9&nbsp;(2)&nbsp;(a) of the GDPR, which you have given on our website.</p>
      <p>We use Google APIs so we can reload other Google services on the website. Google APIs is a collection of
        interfaces for communication between the various Google services used on your website.</p>
      <p>For processing itself, the service or we collect the following data: IP address</p>
      <p>You can revoke your consent at any time. You will find more information about revoking your consent either
        with the consent itself or at the end of this privacy policy.</p>
      <p>You will find more information about how the transferred data is handled in the provider&rsquo;s privacy
        policy at <a href="https://policies.google.com/privacy" rel="noopener noreferrer"
          target="_blank">https://policies.google.com/privacy</a>.</p>
    </li>


    <li>
      <h3><a name="tracker-116"></a> Gstatic</h3>
      <p>We use the Gstatic service provided by Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA,
        email: <a href="mailto:support-de@google.com" rel="noopener noreferrer"
          target="_blank">support-de@google.com</a>, website: <a href="http://www.google.com/" rel="noopener noreferrer"
          target="_blank">http://www.google.com/</a>, on our website. Processing also takes
        place in a third country that is not covered by a European Commission adequacy decision. So the usual level of
        protection for the GDPR cannot be guaranteed for the transfer, since it cannot be ruled out that the likes of
        authorities can access the collected data in the third country.</p>
      <p>The legal basis for the personal data transfer is your consent according to Art.&nbsp;6&nbsp;(1)&nbsp;(a) of
        the GDPR or Art.&nbsp;9&nbsp;(2)&nbsp;(a) of the GDPR, which you have given on our website.</p>
      <p>Gstatic is a service that Google uses to retrieve static content to reduce bandwidth usage and pre-load
        required catalogue files.</p>
      <p>You can revoke your consent at any time. You will find more information about revoking your consent either
        with the consent itself or at the end of this privacy policy.</p>
      <p>You will find more information about how the transferred data is handled in the provider&rsquo;s privacy
        policy at <a href="https://policies.google.com/privacy" rel="noopener noreferrer"
          target="_blank">https://policies.google.com/privacy</a>.</p>
    </li>


    <li>
      <h3><a name="tracker-576"></a> Github</h3>
      <p>We use the Github service provided by GitHub, Inc., 88 Colin P Kelly Jr St, San Francisco, CA 94107, USA,
        email: <a href="mailto:privacy@github.com" rel="noopener noreferrer" target="_blank">privacy@github.com</a>,
        website: <a href="https://github.com/" rel="noopener noreferrer" target="_blank">https://github.com/</a>, on
        our website. Processing also takes place in a third country that is not covered by a European Commission
        adequacy decision. So the usual level of protection for the GDPR cannot be guaranteed for the transfer, since
        it cannot be ruled out that the likes of authorities can access the collected data in the third country.</p>
      <p>The legal basis for the personal data transfer is our legitimate interest in processing according to
        Art.&nbsp;6&nbsp;(1)&nbsp;(f) of the GDPR. Our legitimate interest lies in achieving the purpose outlined
        below.</p>
      <p>Github is a cloud service that allows us to upload content such as software / source code, etc., to our
        website.</p>
      <p>With regard to the processing, you have the right to object as set out in Art.&nbsp;21. You will find more
        information at the end of this privacy policy.</p>
      <p>You will find more information about how the transferred data is handled in the provider&rsquo;s privacy
        policy at <a href="https://help.github.com/articles/github-privacy-statement/" rel="noopener noreferrer"
          target="_blank">https://help.github.com/articles/github-privacy-statement/</a>.</p>
    </li>
  </ul>
  <div data-markdown="1">
    <h2>Information about the use of cookies</h2>
    <h3>Extent of personal data processing</h3>
    <p>We integrate and use cookies on various pages to enable certain functions of our website and to integrate
      external web services. The &lsquo;cookies&rsquo; are small text files that your browser can save on your
      accessing device. These text files contain a characteristic string that uniquely identifies the browser when you
      return to our website. The process of saving a cookie file is also referred to as &lsquo;setting a
      cookie&rsquo;. Cookies can be set by the website itself, as well as by external web services.</p>
    <h3>Legal basis for personal data processing
    </h3>
    <p>Art.&nbsp;6&nbsp;(1)&nbsp;(f) of the GDPR (legitimate interest) or Art.&nbsp;6&nbsp;(1)&nbsp;(a) or
      Art.&nbsp;9&nbsp;(2)&nbsp;(a) of the GDPR (consent).</p>
    <p>The relevant legal basis can be found in the cookie table listed further on in this section.</p>
    <p>Generally speaking, in the case of cookies that are collected based on a legitimate interest, our legitimate
      interest is to ensure the functionality of our website and the services integrated into it (technically
      necessary cookies). In addition, cookies may improve your user experience and allow for a more personalised
      approach. We have weighed up your interests against ours in this respect.</p>
    <p>With the help of cookie technology, we can only identify, analyse and track individual website visitors if the
      website visitor has consented to the use of the cookie according to Art.&nbsp;6&nbsp;(1)&nbsp;(a) of the GDPR.
    </p>
    <h3>Purpose of data processing</h3>
    <p>Cookies are set by our website or external web services to maintain our website&rsquo;s full functionality, to
      improve the user experience or to pursue the purpose stated with your consent. Cookie technology also enables us
      to recognise individual visitors by means of pseudonyms, such as a unique or random ID, so that we can provide
      more personalised services. Details are listed in the table below.</p>
    <h3>Duration of storage</h3>
    <p>The cookies listed below are stored in your browser until they are deleted or, in the case of a session cookie,
      until the session expires. Details are listed in the table below:</p>
    <table>
      <thead>
        <tr>
          <th>Cookie name</th>
          <th>Server</th>
          <th>Provider</th>
          <th>Purpose</th>
          <th>Legal basis</th>
          <th>Duration of storage</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-header="Cookie-Name">_ga</td>
          <td data-header="Server">biogasplatform.eu</td>
          <td data-header="Anbieter"><a href="#tracker-418">Google Analytics</a></td>
          <td data-header="Zweck">This cookie assigns an ID to a user so that the web tracker can group the
            user&rsquo;s actions under this ID.</td>
          <td data-header="Rechtsgrundlage">Consent</td>
          <td data-header="Speicherdauer">approx. 24 months</td>
          <td data-header="Typ">Analytics</td>
        </tr>
        <tr>
          <td data-header="Cookie-Name">dibicoo.consent</td>
          <td data-header="Server"><a href="http://www.biogasplatform.eu" rel="noopener noreferrer"
              target="_blank">www.biogasplatform.eu</a></td>
          <td data-header="Anbieter"><a href="#responsible-entity">Website operator</a></td>
          <td data-header="Zweck">Using this cookie, we can store individual convenience settings that you have
            selected and retain them for your current and future visits to the site.</td>
          <td data-header="Rechtsgrundlage">Consent</td>
          <td data-header="Speicherdauer">approx. 30 days</td>
          <td data-header="Typ">Configuration</td>
        </tr>
        <tr>
          <td data-header="Cookie-Name">_ga_TLMBHEFTTN</td>
          <td data-header="Server">biogasplatform.eu</td>
          <td data-header="Anbieter"><a href="#tracker-112">Google Tag Manager</a></td>
          <td data-header="Zweck">The cookie used assigns an ID to the site visitor and collects statistical data
            about the site visitor&rsquo;s visits to the website. This serves to customise the advertising shown to
            the user.</td>
          <td data-header="Rechtsgrundlage">Consent</td>
          <td data-header="Speicherdauer">approx. 24 months</td>
          <td data-header="Typ">Marketing</td>
        </tr>
      </tbody>
    </table>
    <p style="display: none;">If we have set cookies based on your explicit consent,
      you can revoke your consent at any time using our cookie banner. You can adjust your settings <a
        href="javascript:window.document.cookieBanner.show()" class="jmdCookieConsentInjectShow">here</a>.</p>
    <h3>Opportunity for objection, revocation of
      consent and erasure</h3>
    <p>You can adjust your browser settings in line with your wishes to categorically prevent the setting of cookies.
      You can then decide whether to accept cookies on a case-by-case basis or to categorically accept cookies.
      Cookies may be used for different purposes, e.g. to identify that your accessing device has previously connected
      to our website (permanent cookies) or to save your most recently viewed websites (session cookies). If you have
      expressly given us consent to process your personal data, you can revoke this consent at any time. Please note
      that revocation of consent does not affect the lawfulness of processing carried out based on such consent up
      until the same is revoked.</p>
  </div>
  <h2>Data security and data protection, communication
    by email</h2>
  <p>When it is collected, stored and processed, your personal data is protected by means of technical and
    organisational measures to ensure that it is inaccessible to third parties. Since we cannot guarantee complete
    data security on the transmission path to our IT systems during unencrypted communication by email, we advise
    sending highly confidential information using encrypted communication or by post.</p>
  <h2>
    Right of access and rectification requests &ndash; Erasure and restriction of data &ndash; Revocation of consent
    &ndash; Right to object</h2>
  <h3>Right of access</h3>
  <p>You have the right to request confirmation as to whether we process your personal data. If we do, you have a
    right of access to the information specified in Art.&nbsp;15&nbsp;(1) of the GDPR, provided that the rights and
    freedoms of others are not adversely affected (cf. Art.&nbsp;15&nbsp;(4) of the GDPR). We are also happy to
    provide you with a copy of the data.</p>
  <h3>Right to rectification</h3>
  <p>According to Art.&nbsp;16 of the GDPR, you have the right to have incorrectly stored personal data (such as your
    address, name, etc.) corrected by us at any time. You can also request that the data we store be completed at any
    time. Adjustments to this effect will be made without delay.</p>
  <h3>Right to erasure</h3>
  <p>According to Art.&nbsp;17&nbsp;(1) of the GDPR, you have the right to request that we erase the personal data
    collected about you if</p>
  <ul>
    <li>the data is either no longer needed;</li>
    <li>the legal basis of processing is no longer applicable due to you revoking your consent;</li>
    <li>you have objected to processing and there are no legitimate grounds for processing;</li>
    <li>your data is being processed unlawfully;</li>
    <li>a legal obligation requires this or collection according to Art.&nbsp;8&nbsp;(1) of the GDPR has taken place.
    </li>
  </ul>
  <p>According to Art.&nbsp;17&nbsp;(3) of the GDPR, the right does not exist if</p>
  <ul>
    <li>processing is necessary to exercise the right to freedom of expression and information;</li>
    <li>your data was collected based on a legal obligation;</li>
    <li>processing is necessary on grounds of public interest;</li>
    <li>the data is necessary to establish, exercise or defend legal claims.</li>
  </ul>
  <h3>Right to restriction of processing</h3>
  <p>According to Art.&nbsp;18&nbsp;(1) of the GDPR, you have the right to request on a case-by-case basis that
    processing of your personal data be restricted.</p>
  <p>This applies if</p>
  <ul>
    <li>you dispute the correctness of the personal data;</li>
    <li>processing is unlawful and you do not consent to erasure of the data;</li>
    <li>the data is no longer required for the purpose that it is being processed for, but the data collected is being
      used to assert, exercise or defend legal claims;</li>
    <li>an objection has been made against processing according to Art.&nbsp;21&nbsp;(1) of the GDPR and it is still
      unclear which interests take precedence.</li>
  </ul>
  <h3>Right of revocation</h3>
  <p>If you have given us express consent to process your personal data (Art.&nbsp;6&nbsp;(1)&nbsp;(a) of the GDPR or
    Art.&nbsp;9&nbsp;(2)&nbsp;(a) of the GDPR), you can revoke this consent at any time. Please note that revocation
    of consent does not affect the lawfulness of processing carried out based on such consent up until the same is
    revoked.</p>
  <h3>Right to object</h3>
  <p>According to Art.&nbsp;21 of the GDPR, you have the right to object at any time to the processing of personal
    data concerning you that has been collected based on Art.&nbsp;6&nbsp;(1)&nbsp;(f) (in the context of a legitimate
    interest). You are only entitled to this right if special circumstances preclude storage and processing.</p>
  <h3>How do you exercise your rights?</h3>
  <p>You can exercise your rights at any time by using the contact details provided below:</p>
  <p>Department of Computer Systems, Faculty of Information Technologies, Latvia University of Life Sciences and
    Technologies<br /> Liela iela 2<br /> 3001 Jelgava<br /> Latvia<br /> Email: <a
      href="mailto:vitalijs.komasilovs@llu.lv" rel="noopener noreferrer"
      target="_blank">vitalijs.komasilovs@llu.lv</a><br /> Tel.: +371 63 00 57 01</p>
  <h2>Right to data portability</h2>
  <p>According to Art.&nbsp;20 of the GDPR, you are entitled to have personal data concerning you transferred. We
    provide the data in a structured, commonly used and machine-readable format. The data can be sent either to
    yourself or to a controller named by you.</p>
  <p>We shall provide you with the following data on request according to Art.&nbsp;20&nbsp;(1) of the GDPR:</p>
  <ul>
    <li>Data collected based on express consent according to Art.&nbsp;6&nbsp;(1)&nbsp;(a) of the GDPR or
      Art.&nbsp;9&nbsp;(2)&nbsp;(a) of the GDPR;</li>
    <li>Data that we have received from you according to Art.&nbsp;6&nbsp;(1)&nbsp;(b) of the GDPR in the context of
      existing contracts;</li>
    <li>Data processed in the context of an automated procedure.</li>
  </ul>
  <p>We shall transfer the personal data directly to a controller of your choosing insofar as doing so is technically
    feasible. Please note that we are not allowed to transfer data that interferes with the rights and freedoms of
    others according to Art.&nbsp;20&nbsp;(4) of the GDPR.</p>
  <h2>Right to lodge a complaint with the
    supervisory authority according to Art.&nbsp;77&nbsp;(1) of the GDPR</h2>
  <p>If you suspect that your data is being processed unlawfully on our website, you can naturally obtain judicial
    clarification of the issue at any time. Every other legal option is open to you too. Regardless of this, you have
    the option of contacting a supervisory authority according to Art.&nbsp;77&nbsp;(1) of the GDPR. You have a right
    to lodge a complaint according to Art.&nbsp;77 of the GDPR in the EU member state of your place of residence, your
    workplace and/or the place of the suspected violation (i.e. you can choose the supervisory authority you wish to
    contact from the aforementioned locations). The supervisory authority that the complaint was lodged with then
    informs you of the status and results of your petition, including the possibility of a judicial remedy according
    to Art.&nbsp;78 of the GDPR.</p>


  <p>Created by:
    <br>&copy; DURY LEGAL Rechtsanw&auml;lte &ndash; <a href="http://www.dury.de" target="_blank"
      rel="noopener">www.dury.de</a>
    <br>&copy; Website-Check GmbH &ndash; <a href="http://www.website-check.de" target="_blank"
      rel="noopener">www.website-check.de</a>
  </p>
</section>