<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>About</li>
  </ul>
  <h1>About DiBiCoo project</h1>
</header>
<section class="page-content">
  <img class="logo" src="assets/dibicoo-logo.svg" />
  <p>
    DiBiCoo is a cooperation project between biogas technology exporting and importing countries, with the overall
    objective to support the European biogas/biomethane industry by preparing markets for the import of
    sustainable biogas/biomethane technologies from Europe to developing and emerging countries.
  </p>
  <p>Further information on the project, its aims and impacts can be found on the DiBiCoo Website:
    <a href="https://dibicoo.org/" target="_blank">https://www.dibicoo.org/</a>
  </p>

  <p>One of DiBiCoo´s tasks is to develop a <em>Biogas and Gasification Matchmaking Platform</em> to facilitate cooperation and
    new partnerships and to act as an additional marketing option to promote new business opportunities in Europe and
    developing and emerging markets.</p>

    <h2>Biogas and Gasification Matchmaking Platform in a nutshell</h2>
  <img class="logo" src="assets/logo.png" />
  <ul>
    <li>Biogas and Gasification Matchmaking Platform is an online platform which acts as a database of biogas/gasification
      related
      stakeholders with an additional feature for matchmaking and business opportunity publishing.</li>
    <li>Within the platform, users can define criteria and find company profiles that best suit their needs.</li>
    <li>The business opportunities section is developed for publishing user needs and requests for potential new
      business
      collaborations.</li>
    <li>Platform notifications will inform the user about positive matchmaking results.</li>
    <li> You can actively participate in the improvement of the platform by participating in the user survey or
      contacting
      the developer team from Latvia University of Life Sciences and Technologies.
    </li>
  </ul>

  <!-- <h2>Get started</h2>

  <p>In the platform two main sections are present: Companies and Business opportunities. Companies are
    registered mainly by EU stakeholders to offer their services and/or products. But
    business opportunities are created mainly by the importing country stakeholders to post their needs.
    Without registration at the platform all public information can be viewed, including searching for companies,
    viewing business opportunities and getting knowledge about the biogas sector in the Knowledge base
    section.
  </p>

  <p>First of all, Sign Up to the platform via the link in the right upper corner. You will be
    redirected to Auth0 page, where you can Sign up with a new user, using your existing
    credentials or social networks. When redirected back to the platform, register new company
    profile or submit Your business opportunity.
  </p>

  <h2>Benefits for the registered users</h2>
  <ul>
    <li>Creation of the company profile
    </li>
    <li>Posting of the business opportunities</li>
    <li>Recieving platform notifications</li>
    <li>Geting profile view statistics</li>
    <li>Participation in a matchmaking process</li>
    <li>New features to come later...</li>
  </ul>

  <p>&nbsp;</p> -->

  <a href="https://cordis.europa.eu/project/id/857804" target="_blank">
    <img class="eu-flag" src="assets/eu-flag.svg" />
  </a>
  <p>
    This project has received funding from the European Union’s Horizon 2020 research and innovation programme
    under grant agreement No. 857804.
    The sole responsibility for the content of this website lies with the authors. It does not necessarily reflect
    the opinion of the EU.
  </p>
</section>