<h2 mat-dialog-title>Send message</h2>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Your name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Your e-mail</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea matInput formControlName="message" rows="10" cdkFocusInitial>
    </textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="form.value" type="button" color="primary" [disabled]="!form.valid">Send
    message</button>
  <button mat-button [mat-dialog-close]="undefined" type="button">Cancel</button>
</div>