<div fxLayout="row wrap" fxLayoutAlign="space-evenly">

  <header fxFlex="100%">
    <img src="assets/logo.png" />
    <h1 class="mat-display-2">Biogas and Gasification Matchmaking Platform</h1>
    <h2>The only matchmaking platform for biogas and gasification you will ever need.</h2>
    <button class="join-button" mat-raised-button color="accent" routerLink="/user/enterprises">
      Join platform for free!
    </button>
  </header>

  <mat-card fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="100%" ngClass.lt-sm="no-radius" routerLink="/enterprises"
    class="clickable">
    <mat-card-header>
      <mat-card-title>Company profiles</mat-card-title>
      <mat-card-subtitle>Leading stakeholders in the biogas and gasification sectors</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/frontPage/card-company-profiles.jpg"
      alt="Company profiles">
    <mat-card-content>
      <p>
        Explore profiles of the world leading companies and entrepreneurs in the biogas and gasification sector.
        Browse companies by categories or view them on the global map.
        Find an appropriate partner to bring your ideas to life!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/enterprises">
        <mat-icon>business</mat-icon> Explore by categories
      </a>
      <a mat-button routerLink="/enterprises/globalmap" (click)="$event.stopPropagation();">
        <mat-icon>map</mat-icon> View on map
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="100%" ngClass.lt-sm="no-radius" routerLink="/applications">
    <mat-card-header>
      <mat-card-title>Business opportunities</mat-card-title>
      <mat-card-subtitle>Counterparties presenting their needs and looking for business cooperation</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/frontPage/card-business.jpg"
      alt="Business oportnities">
    <mat-card-content>
      <p>
        Become a participant of a dynamic and evolving marketplace for making business deals.
        Build collaboration with various experienced biogas solution providers by selecting one of the existing requests
        or submitting your own one for a biogas solution, service or project idea.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/applications" (click)="$event.stopPropagation();">
        <mat-icon>chat</mat-icon> Browse
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="100%" ngClass.lt-sm="no-radius"
    routerLink="/knowledge-base/factsheets">
    <mat-card-header>
      <mat-card-title>Knowledge base</mat-card-title>
      <mat-card-subtitle>Biogas and gasification related literature sources and factsheets</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://storage.googleapis.com/dibicoo-matchmaking-tool.appspot.com/frontPage/card-knowledge-base.jpg"
      alt="Knowledge base">
    <mat-card-content>
      <p>
        Are you new to the biogas sector? Get insight into the biogas sector by reading our selected list of relevant
        literature sources. Developed factsheets summarise basic elements of the biogas plants and
        present this information in an understandable way.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/knowledge-base/factsheets" (click)="$event.stopPropagation();">
        <mat-icon>school</mat-icon> Read factsheets
      </a>
      <a mat-button routerLink="/knowledge-base/literature" (click)="$event.stopPropagation();">
        <mat-icon>book</mat-icon> List references
      </a>
    </mat-card-actions>
  </mat-card>
    
  <div class="message">
    <p>Read more about your content, rights and liability in the <a routerLink="privacy">Privacy statement</a>.</p>
    <p>Also visit <strong>DiBiCoo</strong> project <a href="http://dibicoo.org/" target="_blank">web page</a> for more
      infomation about collaboration between European biogas industries and stakeholders from emerging and developing markets.</p>
  </div>

  <footer fxFlex="70%" fxFlex.lt-md="0 0 calc(100%-2rem)" fxLayout="row nowrap" fxLayout.lt-sm="column"
    fxLayoutGap="1rem" fxLayoutAlign="center center">
    <a href="https://cordis.europa.eu/project/id/857804" target="_blank">
      <img src="assets/eu-flag.svg" />
    </a>
    <p>
      This project has received funding from the European Union’s Horizon 2020 research and innovation programme
      under grant agreement No. 857804.
      The sole responsibility for the content of this website lies with the authors. It does not necessarily reflect
      the opinion of the EU.
    </p>
  </footer>
</div>