@import 'dibicoo-theme';

app-application-card {
  display: block;
  margin: 0.5rem 0.1rem 0.1rem;

  button {
    margin-left: 0.5rem;
  }

  button[color="primary"] {
    background-color: $bg-primary-xlight;
  }

  button[color="warn"] {
    background-color: $bg-warn-xlight;
  }
}
