<header class="page-header">
  <ul class="breadcrumbs">
    <li><a routerLink="">Home</a></li>
    <li>Imprint</li>
  </ul>
  <h1>Imprint</h1>
</header>
<section class="page-content">
  <h3>Site operator within the meaning of Section 5 of the German Telemedia Act</h3>
  <p>Department of Computer Systems, Faculty of Information Technologies, Latvia University of Life Sciences and
    Technologies<br /> Liela iela 2<br /> 3001 Jelgava<br /> Latvia<br /> Email: <a
      href="mailto:vitalijs.komasilovs@llu.lv" rel="noopener noreferrer"
      target="_blank">vitalijs.komasilovs@llu.lv</a><br /> Tel.: +371 63 00 57 01</p>
  <h3>Owner</h3>
  <p>Dr Vitalijs Komasilovs</p>
  <h3>Responsible for content</h3>
  <p>Dr Vitalijs Komasilovs<br /> (address as above)</p>
  <h3>Copyright and picture credits</h3>
  <p>Unless stated otherwise, the contents of
    <a href="http://www.biogasplatform.eu" rel="noopener noreferrer" target="_blank">www.biogasplatform.eu</a>
    are protected by copyright.<br /> Any photographs used are marked with
    picture credits or listed below unless they were produced by the company itself.<br /> Photographs on third-party
    sites may only be used in the context of the originator's respective licence.
  </p>

  <p>Created by:
    <br>&copy; DURY LEGAL Rechtsanw&auml;lte &ndash; <a href="http://www.dury.de" target="_blank"
      rel="noopener">www.dury.de</a>
    <br>&copy; Website-Check GmbH &ndash; <a href="http://www.website-check.de" target="_blank"
      rel="noopener">www.website-check.de</a>
  </p>
</section>