<div class="page-wrapper" *ngIf="!mediaAccepted">
  <div class="media-message">
    <p>
      You have not accepted <strong>media cookies</strong>, thus we can't show you a map.
      If you want to review your cookies settings, please, <a href=""
        (click)="cookies.reset(); $event.preventDefault();">click here</a>!
    </p>
  </div>
</div>
<div class=" page-wrapper" *ngIf="mediaAccepted">
  <div class="map-container">
    <agm-map [latitude]="20" [longitude]="10" [zoom]="3" (mapClick)="markerClicked()">
      <agm-marker *ngFor="let ent of enterprisesVisible" [latitude]="ent.latlng[0]" [longitude]="ent.latlng[1]"
        (markerClick)="markerClicked(iw)" [iconUrl]="getMarkerIcon()">
        <agm-info-window #iw>
          <app-enterprise-card [enterprise]="ent">
            <button mat-stroked-button color="primary" [routerLink]="['/enterprises', ent.id]">
              View profile
            </button>
          </app-enterprise-card>
        </agm-info-window>
      </agm-marker>

      <agm-marker *ngFor="let item of projectsVisible" [latitude]="item.latlng[0]" [longitude]="item.latlng[1]"
        (markerClick)="markerClicked(projectIw)" [iconUrl]="getProjectMarkerIcon()">
        <agm-info-window #projectIw>
          <h2>{{item.title}}</h2>
          <p>
            <app-location-text [location]="item.location"></app-location-text>
          </p>
          <p>
            <a [routerLink]="['..', item.company.id]">{{item.company.companyName}}</a>
          </p>        
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <div class="filters">
    <mat-radio-group [(ngModel)]="selectedCategoryId" (ngModelChange)="updateMarkers()">
      <mat-list>
        <mat-list-item *ngFor="let cat of categories">
          <mat-radio-button [value]="cat.id">
            {{cat.title}} ({{cat.title[0]}})
          </mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <mat-selection-list [(ngModel)]="options" (ngModelChange)="updateProjectsMarkers()">
      <mat-list-option checkboxPosition="before" value="keyProjects">
        Show key projects
      </mat-list-option>
    </mat-selection-list>
  </div>

</div>