<div class="page-wrapper">
  <div class="media-message" [hidden]="mediaAccepted">
    <p>
      You have not accepted <strong>media cookies</strong>, thus we can't show you a map.
      If you want to review your cookies settings, please, <a href=""
        (click)="cookies.reset(); $event.preventDefault();">click here</a>!
    </p>
  </div>
  <div class="map-container" #mapContainer [hidden]="!mediaAccepted">
  </div>

  <div #infoTemplate>
    <app-enterprise-card *ngIf="selectedCompany" [enterprise]="selectedCompany">
      <button mat-stroked-button color="primary" [routerLink]="['/enterprises', selectedCompany.id]">
        View profile
      </button>
    </app-enterprise-card>
    <ng-container *ngIf="selectedProject">
      <h3>{{selectedProject.title}}</h3>
      <p>
        <app-location-text [location]="selectedProject.location"></app-location-text>
      </p>
      <p>
        <a [routerLink]="['..', selectedProject.company.id]">{{selectedProject.company.companyName}}</a>
      </p>
    </ng-container>
  </div>


  <div class="filters" [hidden]="!mediaAccepted">
    <mat-radio-group [(ngModel)]="selectedCategoryId" (ngModelChange)="updateMarkers()">
      <mat-list>
        <mat-list-item *ngFor="let cat of categories">
          <mat-radio-button [value]="cat.id">
            {{cat.title}} ({{cat.title[0]}})
          </mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <mat-selection-list [(ngModel)]="options" (ngModelChange)="updateProjectsMarkers()">
      <mat-list-option checkboxPosition="before" value="keyProjects">
        Show key projects
      </mat-list-option>
    </mat-selection-list>
  </div>

</div>