@import "dibicoo-theme";

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

@include muted-icons;

.mat-list {
  .mat-list-item {
    height: auto;

    p.mat-line {
      white-space: pre-wrap;
    }

  }

  &.done {
    .mat-list-item {
      .mat-icon {
        color: $primary;
      }
    }
  }

  &.comingSoon {
    .mat-list-item {
      .mat-icon {
        color: $warn;
      }
    }
  }
}
